html{
    background-image: url(images/bg.png);
    background-color: black;
    background-size: 100%;
    padding: 0px;
    margin: 0px;
}
.sun{
    height: 225px;
    width: 225px;
    background-image: url(images/sun.png);
    background-size: 100%;
    background-color: rgba(255, 115, 0, 0);
}
.earth{
    height: 100px;
    width: 100px;
    background-image: url(images/earth.png);
    background-size: 100%;
    background-color: rgba(0, 76, 255, 0)
}
.moon{
    height: 35px;
    width: 35px;
    background-image: url(images/moon.png);
    background-size: 100%;
    background-color: rgba(63, 63, 63, 0);
}